{{! This file tests for the attribute value / URI context }}

<a href="{{url11}}">link</a>
<a href='{{url12}}'>link</a>
<a href   =   "       {{url13}}      ">link</a>
<a href   =   '       {{url14}}      '>link</a>
<a href={{url15}}>link</a>
<a href=   {{url16}}>link</a>

<a href="/foo{{path11}}">link</a>
<a href='/foo{{path12}}'>link</a>
<a href   =   "/foo{{path13}}      ">link</a>
<a href   =   '/foo{{path14}}      '>link</a>
<a href=/{{path15}}>link</a>
<a href=    /{{path16}}>link</a>

<a href="/foo?{{kv11}}">link</a>
<a href='/foo?{{kv12}}'>link</a>
<a href   =   "/foo?{{kv13}}      ">link</a>
<a href   =   '/foo?{{kv14}}      '>link</a>
<a href=/foo?{{kv15}}>link</a>
<a href=    /foo?{{kv16}}>link</a>

<a href="/foo?k1={{q11}}">link</a>
<a href="/foo?k2={{q12}}&k3={{q13}}">url</a>
<a href='/foo?k1={{q14}}'>link</a>
<a href='/foo?k2={{q15}}&k3={{q16}}'>url</a>
<a href   =   "        /foo?k2={{q17}}&k3={{q18}}     ">url</a>
<a href   =   '        /foo?k2={{q19}}&k3={{q20}}     '>url</a>
<a href=/foo?k1={{q21}}>link</a>
<a href=/foo?k2={{q22}}&k3={{q23}}>url</a>
<a href   =   /foo?k2={{q24}}&k3={{q25}}               >url</a>

<a href="/foo?k=v#{{hash11}}">link</a>
<a href='/foo?k=v#{{hash12}}'>link</a>
<a href   =   "/foo?k=v#{{hash13}}      ">link</a>
<a href   =   '/foo?k=v#{{hash14}}      '>link</a>
<a href=/foo?k=v#{{hash15}}>link</a>
<a href=    /foo?k=v#{{hash16}}>link</a>
