{{! This file tests for the attribute value / URI context }}

<button formaction={{url21}}/>
<button formaction={{url22}}/>
<button formaction   =   {{url23}}   />
<button formaction=/foo?k1={{q21}}/>
<button formaction=/foo?k2={{q22}}&k3={{q23}}/>
<button formaction   =   /foo?k2={{q24}}&k3={{q25}}               />

<button formaction="{{url11}}"/>
<button formaction='{{url12}}'/>
<button formaction   =   "       {{url13}}      "/>
<button formaction   =   '       {{url14}}      '/>
<button formaction={{url15}}/>
<button formaction=   {{url16}}/>

<button formaction="/foo{{path11}}"/>
<button formaction='/foo{{path12}}'/>
<button formaction   =   "/foo{{path13}}      "/>
<button formaction   =   '/foo{{path14}}      '/>
<button formaction=/{{path15}}/>
<button formaction=    /{{path16}}/>

<button formaction="/foo?{{kv11}}"/>
<button formaction='/foo?{{kv12}}'/>
<button formaction   =   "/foo?{{kv13}}      "/>
<button formaction   =   '/foo?{{kv14}}      '/>
<button formaction=/foo?{{kv15}}/>
<button formaction=    /foo?{{kv16}}/>

<button formaction="/foo?k1={{q11}}"/>
<button formaction="/foo?k2={{q12}}&k3={{q13}}">url</a>
<button formaction='/foo?k1={{q14}}'/>
<button formaction='/foo?k2={{q15}}&k3={{q16}}'>url</a>
<button formaction   =   "        /foo?k2={{q17}}&k3={{q18}}     ">url</a>
<button formaction   =   '        /foo?k2={{q19}}&k3={{q20}}     '>url</a>
<button formaction=/foo?k1={{q21}}/>
<button formaction=/foo?k2={{q22}}&k3={{q23}}>url</a>
<button formaction   =   /foo?k2={{q24}}&k3={{q25}}               >url</a>

<button formaction="/foo?k=v#{{hash11}}"/>
<button formaction='/foo?k=v#{{hash12}}'/>
<button formaction   =   "/foo?k=v#{{hash13}}      "/>
<button formaction   =   '/foo?k=v#{{hash14}}      '/>
<button formaction=/foo?k=v#{{hash15}}/>
<button formaction=    /foo?k=v#{{hash16}}/>
