{{! This file tests for the attribute value / URI context }}

<img src={{url21}}/>
<img src={{url22}}/>
<img src   =   {{url23}}   />
<img src=/foo?k1={{q21}}/>
<img src=/foo?k2={{q22}}&k3={{q23}}/>
<img src   =   /foo?k2={{q24}}&k3={{q25}}               />

<img src="{{url11}}"/>
<img src='{{url12}}'/>
<img src   =   "       {{url13}}      "/>
<img src   =   '       {{url14}}      '/>
<img src={{url15}}/>
<img src=   {{url16}}/>

<img src="/foo{{path11}}"/>
<img src='/foo{{path12}}'/>
<img src   =   "/foo{{path13}}      "/>
<img src   =   '/foo{{path14}}      '/>
<img src=/{{path15}}/>
<img src=    /{{path16}}/>

<img src="/foo?{{kv11}}"/>
<img src='/foo?{{kv12}}'/>
<img src   =   "/foo?{{kv13}}      "/>
<img src   =   '/foo?{{kv14}}      '/>
<img src=/foo?{{kv15}}/>
<img src=    /foo?{{kv16}}/>

<img src="/foo?k1={{q11}}"/>
<img src="/foo?k2={{q12}}&k3={{q13}}">url</a>
<img src='/foo?k1={{q14}}'/>
<img src='/foo?k2={{q15}}&k3={{q16}}'>url</a>
<img src   =   "        /foo?k2={{q17}}&k3={{q18}}     ">url</a>
<img src   =   '        /foo?k2={{q19}}&k3={{q20}}     '>url</a>
<img src=/foo?k1={{q21}}/>
<img src=/foo?k2={{q22}}&k3={{q23}}>url</a>
<img src   =   /foo?k2={{q24}}&k3={{q25}}               >url</a>

<img src="/foo?k=v#{{hash11}}"/>
<img src='/foo?k=v#{{hash12}}'/>
<img src   =   "/foo?k=v#{{hash13}}      "/>
<img src   =   '/foo?k=v#{{hash14}}      '/>
<img src=/foo?k=v#{{hash15}}/>
<img src=    /foo?k=v#{{hash16}}/>
