{{html}}<div>div</div>
<a class={{SELECTED1}} href="{{URL1}}">{{NAME1}}</a>
<a class={{SELECTED21}}{{SELECTED22}} href="{{URL2}}">{{NAME2}}</a>
<a class="{{SELECTED3}}" href={{URL3}}>{{NAME3}}</a>
<a class="{{SELECTED4}}" href={{URL4}}>{{NAME4}}</a>
<!--{{COMMENT1}}{{COMMENT2}}-->
<div {{ATTR1}}></div>
