{{! This file tests for the attribute value / URI context }}

<form action="{{url11}}"></form>
<form action='{{url12}}'></form>
<form action   =   "       {{url13}}      "></form>
<form action   =   '       {{url14}}      '></form>
<form action={{url15}}></form>
<form action=   {{url16}}></form>

<form action="/foo{{path11}}"></form>
<form action='/foo{{path12}}'></form>
<form action   =   "/foo{{path13}}      "></form>
<form action   =   '/foo{{path14}}      '></form>
<form action=/{{path15}}></form>
<form action=    /{{path16}}></form>

<form action="/foo?{{kv11}}"></form>
<form action='/foo?{{kv12}}'></form>
<form action   =   "/foo?{{kv13}}      "></form>
<form action   =   '/foo?{{kv14}}      '></form>
<form action=/foo?{{kv15}}></form>
<form action=    /foo?{{kv16}}></form>

<form action="/foo?k1={{q11}}"></form>
<form action="/foo?k2={{q12}}&k3={{q13}}">url</a>
<form action='/foo?k1={{q14}}'></form>
<form action='/foo?k2={{q15}}&k3={{q16}}'>url</a>
<form action   =   "        /foo?k2={{q17}}&k3={{q18}}     ">url</a>
<form action   =   '        /foo?k2={{q19}}&k3={{q20}}     '>url</a>
<form action=/foo?k1={{q21}}></form>
<form action=/foo?k2={{q22}}&k3={{q23}}>url</a>
<form action   =   /foo?k2={{q24}}&k3={{q25}}               >url</a>

<form action="/foo?k=v#{{hash11}}"></form>
<form action='/foo?k=v#{{hash12}}'></form>
<form action   =   "/foo?k=v#{{hash13}}      "></form>
<form action   =   '/foo?k=v#{{hash14}}      '></form>
<form action=/foo?k=v#{{hash15}}></form>
<form action=    /foo?k=v#{{hash16}}></form>
